{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }}
    - My profile
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
    <header class="profile-head d-flex align-items-center">
        <div>
            <h1 class="h1 mt-lg-5 mt-2 text-white fw-bold text-center">
                My
                <span class="fst-italic fw-lighter">profile</span>
            </h1>
            <a href="{{ path('help_index') }}" class="btn btn-lg btn-primary text-white">Help freelancers now</a>
        </div>
    </header>

    <div class="container">
        <div class="contain row m-lg-3 m-1">
            <div class="col-sm-4 mt-lg-5 mt-0">
                <div class="profile-card bg-white shadow my-lg-5 my-2">
                    <div class="information card-header p-5">
                        <img class="profile-picture rounded-circle" src="{{ user.image }}" alt="Grapefruit slice atop a pile of other slices">
                        <p class="profile-name fw-bold mt-3 mb-1">{{ user.username }}</p>
                        <div class="d-flex flex-row justify-content-center">
                            <p>Level
                                <span class="fw-bold">{{ user.level }}</span>
                            </p>
                        </div>
                        <div class="progress" data-bs-toggle="tooltip" data-bs-placement=" top" title=" {{ user.experience }}xp">
                            <div class="progress-bar bg-progress" role="progressbar" style="width:{{ experience }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-1 mb-0">
                            <span class="fw-bold">{{ user.experience }}</span>
                            XP
                        </p>
                    </div>
                    <div class="profile-card-skills bg-primary text-white">
                        <div class="information card-header">
                            <div class="badges fw-bold m-2">
                                <p>Badges</p>
                                {% for badge in badges %}
                                    <img data-bs-toggle="tooltip" data-bs-placement=" top" title="{{ badge.status }}" class="m-3" src="{{ asset(badge.image) }}" class="img-badge">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 mt-2">
                <div class="quests">
                    {% if app.user != user %}
                        <h2 class="fw-bold m-4">Accomplished Quests<span>.</span>
                        </h2>
                        {% for quest in accomplished %}
                            <div class="card m-4">
                                <div class="card-header fw-bold">
                                    {{ quest.name }}
                                </div>
                                <div class="card-body p-4">
                                    <p class="card-text">{{ quest.description }}</p>
                                    <p class="card-text">Level
                                        <span class="fw-bold">{{ quest.minimumLevel }}</span>
                                    </p>
                                    <p class="card-text fw-bold">{{ quest.experience }}
                                        <span class="fw-bold">xp</span>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}

                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }} alert-dismissible fade show flash-{{ label }} p-3">
                                    <i class="fas fa-check-circle me-1"></i>
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endfor %}


                        <h2 class="fw-bold m-4">Quests<span>.</span>
                        </h2>
                        {% for quest in quests %}
                            {% if quest not in app.user.finishedQuest %}
                                <div class="card m-4">
                                    <div class="card-header fw-bold">
                                        {{ quest.name }}
                                    </div>
                                    <div class="card-body p-4">
                                        <p class="card-text">{{ quest.description }}</p>
                                        <p class="card-text">Level
                                            <span class="fw-bold">{{ quest.minimumLevel }}</span>
                                        </p>
                                        <p class="card-text fw-bold">{{ quest.experience }}
                                            <span class="fw-bold">xp</span>
                                        </p>
                                        <a href="{{ path('active', {id: quest.id}) }}" class="btn-profile btn btn-primary text-light">Active this quest</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
