{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }}
    - Help freelancers
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('help') }}
{% endblock %}

{% block body %}
    <main data-aos="fade-right" class="container p-md-5 p-4 help-index">
        <header class="pt-md-5 pt-4 pb-3">
            <h1 class="h1 text-dark fw-bold mt-5">Help freelancers<i class="fas fa-circle text-primary"></i>
            </h1>
            <h2 class="h2 fw-light">Help freelancers and gain level experience</h2>
            <a href="{{ path('help_new') }}" class="btn btn-primary fw-bold text-white mt-md-3 mt-1">Create help request</a>
        </header>

        <div data-aos="fade-right" class="filter mt-2 mb-4">
            {{ form_start(filter, {'attr': {'id': 'filter-form'}}) }}
            {{ form_label(filter.category) }}
            {{ form_widget(filter.category, {'attr': {'class': 'form-select category mb-2 p-3'}}) }}
            {{ form_label(filter.active)}}
            {{ form_widget(filter.active, {'attr': {'class': 'chk-active d-flex'}}) }}
            {{ form_end(filter) }}
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 card-group">
            {% for help in helps %}
                <div data-aos="fade-up" class="col px-2 card-group">
                    <div class="card-help p-5 w-100">
                        <div class="card-help-header d-flex flex-row align-items-center mb-2">
                            <img src="{{ help.applicant.image ?? "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" }}" alt="profile-pic" class="me-3">
                            <div class="card-help-titles">
                                <h3 class="text-wrap mb-0 text-dark">{{ help.applicant.username }}</h3>
                                <p class="mb-0 badge bg-primary">
                                    Level
                                    {{ help.applicant.level }}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-column justify-content-between h-75">
                            <div class="card-help-body mt-4">
                                <div class="d-flex flex-row">
                                    <p class="mb-0 badge {{ help.category.color }} me-1">
                                        {{ help.category.name }}
                                    </p>
                                    <p class="mb-0 badge bg-dark text-white">
                                        {% if help.active == true %}
                                            Unsolved
                                        {% else %}
                                            Solved
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="text-to-break">
                                    <h3 class="mt-3 fw-bold">{{ help.subject }}</h3>
                                    <p class="text-truncate">{{ help.description }}</p>
                                </div>
                            </div>
                            <a class="btn btn-primary btn-sm text-white fw-bold w-100 mb-md-3 mb-0" href="{{ path('help_show', {help: help.id}) }}">Help me</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
