{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }}
    -
    {{ help.subject }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('help') }}
{% endblock %}

{% block body %}
    <main class="container p-md-5 p-4 help-show">
        <header data-aos="fade-right" class="pt-md-5 pb-3 pt-4">
            <div class="d-flex flex-row justify-content-between align-items-end">
                <h1 class="h1 text-dark fw-bold mt-5">{{ help.subject }}</h1>
            </div>
            <h2 class="h3 fw-light vertical-middle lh-base">
                <p class="mb-0 badge {{ help.category.color }}">
                    {{ help.category.name }}
                </p>
                <p class="mb-0 me-1 badge bg-dark text-white">
                    {% if help.active == true %}
                        Unsolved
                    {% else %}
                        Solved
                    {% endif %}
                </p>
                Asked
                {{ help.createdAt|format_datetime(locale='en') }}
                {% if app.user.username == help.applicant.username %}
                     • <a title="Edit your request" class="text-primary text-decoration-underline" href="{{ path('help_edit', {help: help.id}) }}">
                        Modify your request
                    </a>
                {% endif %}
            </h2>
        </header>
        <div data-aos="fade-right" class="d-flex flex-row profile-card align-items-center p-3 mb-3">
            <img src="{{ help.applicant.image ?? "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" }}" alt="picture of {{ help.applicant.username }}" class="me-3">
            <div>
                <h3 class="h4 mb-0 text-wrap">{{ help.applicant.username }}</h3>
                <p class="mb-0 badge bg-primary">
                    Level
                    {{ help.applicant.level }}
                </p>
            </div>
        </div>
        <div data-aos="fade-right" class="p-4 shadow-sm content text-show">
            <p class="m-0 p-0 w-100">{{ help.description }}</p>
        </div>
        {% if help.updatedAt %}
            <p data-aos="fade-right" class="mt-1 updated blockquote-footer">Updated
                {{ help.updatedAt|format_datetime(locale='en') }}</p>
        {% endif %}

        <div class="comments mt-5">
            <h3 data-aos="fade-right" class="h3 mb-1">Answers</h3>
            <h4 data-aos="fade-right" class="h5 mb-4">See all answers from freelancers for this topic</h4>
            <div data-aos="fade-right" class="comments-show mt-3">
                {% include "help/_comment.html.twig" %}
            </div>
            <div data-aos="fade-up" class="new-comment mt-4">
                <h3 class="h3 mb-1">Drop your answer</h3>
                {% include "comment/new.html.twig" %}
            </div>
        </div>
    </main>
{% endblock %}
