{% extends 'base.html.twig' %}

{% block title %}Quest
{% endblock %}

{% block body %}

    <h1>Quest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quest.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ quest.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ quest.description }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ quest.experience }}</td>
            </tr>
            <tr>
                <th>MinimumLevel</th>
                <td>{{ quest.minimumLevel }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('quest_index') }}" class="btn btn-warning">back to list</a>

    <a href="{{ path('quest_edit', {'id': quest.id}) }}" class="btn btn-primary">edit</a>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal
    </button>
    
{% endblock %}
