{% extends 'layout.html.twig' %}

{% block title %}Hello Admin !
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}
    <div class="wrapper mt-5 mt-sm-0 text-center">

        <div class="page-title">
            <h1>Administration<span>.</span>
            </h1>
        </div>

        <div class="container-fluid admin-container">
            <div class="row align-items-center w-100 card-row">
                <div class="card-group">

                    <div class="col-md-5 col-lg-3 p-2 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title d-flex justify-content-center">
                                    <i class="fas fa-users logoAdmin"></i>
                                </h2>
                                <p class="card-text description">Add, delete or view the profile of your users</p>
                                <div class="card-link d-flex justify-content-center">
                                    <a href="{{ path('user_index') }}" class="btn btn-admin">User Management
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-3 p-2 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title d-flex justify-content-center">
                                    <i class="fas fa-hands-helping logoAdmin"></i>
                                </h2>
                                <p class="card-text description">Manage different requests for help</p>
                                <div class="card-link d-flex justify-content-center">
                                    <a href="{{path('admin_help_index')}}" class="btn btn-admin">Requests management</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-5 col-lg-3 p-2 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title d-flex justify-content-center">
                                    <i class="fas fa-scroll logoAdmin"></i>
                                </h2>
                                <p class="card-text description">Add, delete or view available quests</p>
                                <div class="card-link d-flex justify-content-center">
                                    <a href="{{ path('quest_index') }}" class="btn btn-admin">Quest management</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-3 p-2 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title d-flex justify-content-center">
                                    <i class="fas fa-ribbon logoAdmin"></i>
                                </h2>
                                <p class="card-text description">Add, delete or view the available badges</p>
                                <div class="card-link d-flex justify-content-center">
                                    <a href="{{ path('badge_index') }}" class="btn btn-admin">Badge management</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
