{% extends 'layout.html.twig' %}

{% block title %}Badge index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block body %}
    <h1>Badge index</h1>
    <a href="{{ path('badge_new') }}" class="btn btn-primary">Create new</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for badge in badges %}
            <tr>
                <td>{{ badge.id }}</td>
                <td>{{ badge.name }}</td>
                <td>{{ badge.status ? 'Yes' : 'No' }}</td>
                <td>{{ badge.image }}</td>
                <td>
                    <a href="{{ path('badge_show', {'id': badge.id}) }}" class="far fa-eye link-logo"></a>
                    <a href="{{ path('badge_edit', {'id': badge.id}) }}" class="far fa-edit link-logo"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
