{% extends 'base.html.twig' %}

{% block title %}Badge{% endblock %}

{% block body %}
    <h1>Badge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ badge.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ badge.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ badge.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ badge.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('badge_index') }}" class="btn btn-warning">back to list</a>

    <a href="{{ path('badge_edit', {'id': badge.id}) }}" class="btn btn-primary">edit</a>

{% endblock %}
